body {
  background-image: url(https://i.gifer.com/1fZK.gif)
}

.jumbotron p {
  font-size: 20px;
}

#result {
  display: none;
}

#language-description {
  display: none;
}

.card {
  margin-top: 5px;
  margin-right: 10px;
}